$primary = #ff7575;
hr {
    background: transparent;
    border-top: 1px solid #DDD;
}
.nav .active > a , a[target^="_blank"], span[itemprop^="name"]{
    color: $primary;
    border-bottom 1px solid $primary;
}

.post-toc, .sidebar-toc-active .sidebar-nav-toc .sidebar-nav-overview, .sidebar-overview-active a {
    color: #666;
    border 0;
}
.post-title-link span {
    color: $primary;
    border: 0;
}

.sidebar {
    visibility: visible;
}

.sidebar-nav li:hover {
    color: $primary;
}
.with-love {
    color: $primary;
}
.reading-progress-bar {
    background $primary;
}
code {
    background #eee;
    color: #6897BB;
}
blockquote {
    color: #444;
    line-height 1.8;
    letter-spacing: 1px;
    background: #eee;
    padding: 15px;
    margin: 2em auto;
    border-left: 0;
    // border-left-color $primary;
}
blockquote p {
    margin-bottom: 0;
}
blockquote code {
    background rgba(#FFF, .5);
}
.desc {
    display: inline-block;
    text-align center;
    font-size: 0.9em;
    padding: 0 10px;
    background #eee;
    position: relative;
    left: 50%;
    transform: translate(-50%, -100%);
    border-radius: 5px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-info {
    color: #3a87ad;
    background-color: #e2eaee;
    border-color: #c5d5dd;
}
.alert-warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #ebccd1;
}

@media (min-width: 922px) {
    .post-body {
        text-align: left;
    }
}
@media (max-width: 991px) {
    .post-body {
        text-align: left;
    }
}
    