$primary = #ff7575;
hr {
    background: transparent;
    border-top: 1px solid #DDD;
}
.sidebar-toc-active .sidebar-nav-toc, .sidebar-overview-active .sidebar-nav-overview, .post-toc .nav .active > a , a[target^="_blank"], span[itemprop^="name"]{
    color: $primary;
    border-bottom 1px solid $primary;
}
.sidebar-toc-active .sidebar-nav-toc:hover, .sidebar-overview-active .sidebar-nav-overview:hover {
    color: $primary;
}
.sidebar-nav li:hover {
    color: $primary;
}
.with-love {
    color: $primary;
}
.reading-progress-bar {
    background $primary;
}
code {
    background #eee;
     color: #6897BB;
}
