$primary = #ff7575;
hr {
    background: transparent;
    border-top: 1px solid #DDD;
}
.sidebar-toc-active .sidebar-nav-toc, .sidebar-overview-active .sidebar-nav-overview, .post-toc .nav .active > a , a[target^="_blank"], span[itemprop^="name"]{
    color: $primary;
    border-bottom 1px solid $primary;
}
.sidebar-toc-active .sidebar-nav-toc:hover, .sidebar-overview-active .sidebar-nav-overview:hover {
    color: $primary;
}
.sidebar-nav li:hover {
    color: $primary;
}
.with-love {
    color: $primary;
}
.reading-progress-bar {
    background $primary;
}
code {
    background #eee;
    color: #6897BB;
}
blockquote {
    color: #333;
    line-height 1.5;
    background: #eee;
    padding: 15px;
    margin: 2em auto;
    border-left-color $primary;
}
blockquote p {
    margin-bottom: 0;
}
blockquote code {
    background rgba(#FFF, .5);
}
.desc {
    display: inline-block;
    text-align center;
    font-size: 0.9em;
    padding: 0 10px;
    background #eee;
    position: relative;
    left: 50%;
    transform: translate(-50%, -100%);
    border-radius: 5px;
}

@media (min-width: 922px) {
    .post-body {
        text-align: left;
    }
}
@media (max-width: 991px) {
    .post-body {
        text-align: left;
    }
}
    